---
---
@charset "utf-8";
@import 
  "reset", 
  "variables", 
  "modular-scale", 
  "mixins",
  "typography",
  "layouts"
  //"syntax-highlighting" leaving highlighting out until needed
;

// .show-grid {
//   background-image: -webkit-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
//   background-image: -moz-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
//   background-image: -o-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
//   background-image: linear-gradient(to bottom, cyan 0, rgba(255,255,255,0) 1px);
//   background-repeat: repeat-y;
//   background-size: 100% 1rem;
// }

body {
  background-color: $backgroundColour;
  color: $bodyColour
}

.nav { 
  max-width: 45rem;
  margin: auto;
  
  border-top: $headingColour 5px solid;
  border-bottom: #E8E8E8 1px solid;
  
  padding-left: 1rem;
  padding-right: 1rem;
  
  a {
    display: inline-block;
    
    @include fontsize(epsilon, all);
    
    letter-spacing: -.04em;
    word-spacing: -.2em;
    margin-top: -1rem;
    color: $headingColour;
        
    &:hover {
      color: $headingColour;
    }
  }
  
  .nav-right {
    float: right;
    padding-top: 1.6rem;
  }
}

.archive {  
  .inline {
    display: inline;
  }
}
