body {
    --light: #fcfcfc;
    --dark: #424242;
    --blue: #778eb1;
    font-family: monospace;
    height: 100vh;
    font-size: 100%;
    background-color: var(--light);
    color: var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#name {
    font-size: 3rem;
}

a {
    font-size: 1.5rem;
    color: var(--dark);
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.ring {
    padding: .75rem;
    border: .75rem transparent solid;
    border-radius: 50%;
    border-top-color: var(--dark);
    animation: spin 20s infinite linear;
    will-change: transform;
}

.blue {
    border-top-color: var(--blue);
}

#center {
    background-color: var(--dark);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    will-change: tranform;
}
