.kern-l-04 {
  margin-left: -0.04rem;
}

.kern-l-06 {
  margin-left: -0.06rem;
}

.kern-l-08 {
  margin-left: -0.08rem;
}

.kern-l-10 {
  margin-left: -0.1rem;
}

.kern-l-16 {
  margin-left: -0.16rem;
}

.kern-r-02 {
  margin-left: 0.02rem;
}

.kern-r-04 {
  margin-left: 0.04rem;
}

.kern-r-06 {
  margin-left: 0.06rem;
}
