#nav-box {
  max-width: 45rem;
  margin: 0 auto;

  border-top: $headingColour 5px solid;
  border-bottom: #E8E8E8 1px solid;

  padding-left: 1rem;
  padding-right: 1rem;
}

.nav {
  @include fontsize(epsilon, all);
  font-family: unquote(map-get($headingtype, font-family));
  font-style: normal;
  font-weight: map-get($headingtype, regular);

  color: $headingColour;
}

.nav-title {
  @include fontsize(beta, all);
  font-weight: map-get($headingtype, bold);
}

.nav-author {
  word-spacing: -.2rem;
  margin-left: 1rem;
}

.nav-archive {
  float: right;
}

