.nav {
  @include fontsize(epsilon, all);

  color: $headingColour;

  font-family: unquote(map-get($navtype, font-family));
  font-style: normal;
  font-weight: map-get($navtype, regular);

}

.nav-title {
  @include fontsize(beta, all);
  font-weight: map-get($navtype, bold);
}

.nav-author {
  margin-left: 1rem;
  word-spacing: -0.2rem;
}

.nav-archive {
  float: right;
}

.nav-archive-align {
  @include fontsize(beta, all);
  visibility: hidden;
}

.nav-box {
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1rem;

  border-top: $headingColour 5px solid;
  border-bottom: $lineColour 1px solid;
}
