.kern-l-1 {
  margin-left: -0.1rem;
}

.kern-l-08 {
  margin-left: -0.08rem;
}

.kern-l-06 {
  margin-left: -0.06rem;
}

.kern-l-04 {
  margin-left: -0.04rem;
}

.kern-r-02 {
  margin-left: 0.02rem;
}

.kern-r-04 {
  margin-left: 0.04rem;
}

.kern-r-06 {
  margin-left: 0.06rem;
}

.kern-arch-v {
  margin-left: -0.16rem;
}

h1 .kern-arch-v {
  margin-left: -0.3rem;
}
