$bodytype: (
  font-family: 'Amiri, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.44
);

$monospacetype: (
  font-family: '"Anonymous Pro", monospace',
  regular: 400,
  bold: 700,
  cap-height: 0.63
);

$headingtype: $bodytype;
$navtype: $monospacetype;

$headingColour: #424242;
$bodyColour: #424242;
$captionColour: #828282;
$lineColour: #E8E8E8;
